
# Ignore macOS .DS_Store files
.DS_Store

# Ignore all DS_Store files recursively in any directory
**/.DS_Store

**/bin/
**/build/
*vscode/
!.vscode/c_cpp_properties.json
*.mkv
**/lib/ffmpeg
**/lib/zoom_video_sdk/qt_libs/Qt/
**/lib/zoom_video_sdk/libfdkaac2.so
**/lib/zoom_video_sdk/libmpg123.so
**/lib/zoom_video_sdk/libturbojpeg.so
**/lib/zoom_video_sdk/libvideosdk.so
**/lib/zoom_video_sdk/libvideosdk.so.1
#config.json

**/out/

#for visual studio 2022
.vs
CMakeSettings.json

#config.json
#config.json

**/include/ffmpeg
**/include/zoom_video_sdk/helpers
**/include/zoom_video_sdk/*.h

**/lib/zoom_video_sdk/libvideosdk.so
**/lib/zoom_video_sdk/libvideosdk.so.1


**/CMakeFiles/*